<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


 <!--http://blog.csdn.net/lxn39830435731415926/article/details/45727407 由于使用jetty来运行web,jetty日志输出需要日志jar包，可以使用common-logging的日志框架-->  
</web-app>